$padding_20_32: 20px 32px;
$padding_20_16: 20px 16px;
$padding_20_60: 20px 96px;
$padding_20_0: 20px 0;
$padding_10_96: 10px 96px;
$padding_10_16: 10px 16px;

.header{
  /* Padding 20 32 Res 20 16 */
  @mixin padding {
    padding: $padding_20_32;
    @media screen and (max-width: 992px) {
      padding: $padding_20_16;
    
    }
  }
  .header-top{
    @include padding();
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navbar-top{
      @media screen and (min-width: 992px) {
        display: none;
      }
      @media screen and (max-width: 992px) {
        display: flex;
        justify-content: flex-start;
      }
      width: calc(100%/3);
      .navbar{
        width: auto;
        cursor: pointer;
        width: 26px;
        padding: 0 !important;
        .bar{
          height: 3px;
          background-color: #333;
          display: block;
          margin: 3px 0;
          transition: 0.2s;
        }
        .bar-1{
          width: 19.5px;
        }
        .bar-2{
          width: 13px;
        }
        .bar-3{
          width: 26px;
        }
        
      }
      .active-bar{
        .bar{
          background-color: #ff9900;
        }
        .bar-1{
          width: 13px;
        }
        .bar-2{
          width: 26px;
        }
        .bar-3{
          width: 19.5px;
        }
      }
    }

    .hotline{
      width: calc(100%/3);
      font-size: 14px;
      font-weight: bolder;
      @media screen and (max-width: 992px) {
        display: none;
      }
    }

    .header-icon{
      width: calc(100%/3);
      display: flex;
      justify-content: flex-end;
      .icon{
        display: flex;
        align-items: center;
        color: #333;
        font-size: 18px;
        text-align: center;
        margin-left: 16px;
        position: relative;
        cursor: pointer;
        @media screen and (max-width: 768px) {
          margin-left: 5px !important;
        }
        .fa-search{
          width: 32px;
          height: 32px;
          line-height: 32px;
          transition: 0.4s;
          border-radius: 50px;
          &:hover{
            background-color: #ff9900;
            transition: 0.4s;
            color: #fff;
          }
        }
        .btn-search-official .fa{
          background-color: #ff9900;
          color: #fff;
          width: 46px;
          border-radius: 0 50px 50px 0 !important;
        }

        .active-search{
          color: #fff;
          background-color: #ff9900;
        }
        #baged{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 18px;
          height: 18px;
          background-color: #ff9900;
          color: #fff;
          border-radius: 50px;
          font-size: 12px;
          position: absolute;
          top: 40%;
          left: 90%;
          transform: translate(-40%, -90%);
        }
      }

      .icon-search{
        form{
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
        .btn-search-no-official{
          display: none;
        }
        @media screen and (max-width: 992px) {
          .btn-search-no-official{
            display: block;
            
          }
        }
        .animate_bounceSearch{
          top: 50% !important;
          transform: translateY(-50%) !important;
          opacity: 1 !important;
        }
        .form-search{
          display: flex;
          align-items: center;
          justify-content: flex-end;
          
          @media screen and (max-width: 992px) {
            position: fixed;
            width: 100%;
            height: 200px;
            background-color: #fff;
            border-top: 1px solid #dbdbdb;
            border-bottom: 1px solid #dbdbdb;
            -webkit-box-shadow: 6px 15px 22px -9px rgba(0,0,0,0.75);
            -moz-box-shadow: 6px 15px 22px -9px rgba(0,0,0,0.75);
            box-shadow: 6px 15px 22px -9px rgba(0,0,0,0.75);
            top: -100%;
            transform: translateY(100%);
            transition: 0.6s;
            opacity: 0;
            left: 0;
            z-index: 2;
            padding: 0 8px 0 16px;
            .btn-search-official{
                .fa{
                background-color: #ff9900;
                color: #fff;
                width: 38px;
                height: 38px;
                line-height: 38px;
              }
            }
          }
          input{
            background-color: #ff9900;
            font-size: 14px;
            position: relative;
            border-radius: 50px 0 0 50px;
            padding: 5px 16px !important;
            width: 100%;
            overflow: hidden;
            transition: 0.4s;
            @media screen and (max-width: 992px) {
              &{
                padding: 8px 16px !important;
                width: 100%;
                background-color: #ff9900;              
              }
            }
          }
        }
      }

      .icon-user{
        position: relative;
        .menu-drop{
          position: absolute;
          top: 110%;
          background-color: #f3f3f3;
          height: 0;
          overflow: hidden;
          left: -25%;
          transform: translateX(-25%);
          border-radius: 5px;
          transition: 0.4s;
          font-size: 14px;
          width: 100px;
          padding: 0 10px;
          text-align: left;
          z-index: 4;
          @media screen and (max-width: 992px) {
            left: -45%;
          transform: translateX(-45%);
          }
          .drop-item{
            color: #333;
            display: block;
            font-weight: bolder;
            &:hover{
              color: #ff9900;
            }
          }

          .drop-item-1{
            padding: 8px 0 2.5px 0;
          }
          .drop-item-2{
            padding: 2.5px 0 8px 0;
          }
        }
        .active-menu-drop{
          height: 60px !important;
        }
      }
    }
  }

  .menu-top{
    @include padding();
    @media screen and (max-width: 992px){
      &{
        position: fixed;
        left: -100% !important;
        transition: 0.4s;
        top: 35.7%;
        transform: translateY(-35%);
        z-index: 3;
        border-bottom: 1px solid #bdbdbd;
      }
    }
    .menu-list{
      display: flex;
      width: 55%;
      margin: 0 auto !important;
      justify-content: space-around;
      align-items: center;
      @media screen and (max-width: 992px){
        display: block !important;
        width: 100% !important;
      }
      .menu-item{

        .menu-link{
          color: #333 !important;
          font-weight: bolder;
          padding: 8px 0 !important;
          position: relative;
          overflow: hidden !important;
          display: inline-block;
          z-index: 1;
          font-size: 14px;
          text-transform: uppercase;
          @mixin hover_menu() {
            display: block;
            width: 100%;
            height: 2px;
            position: absolute;
            content: '';
            background-color: #ff9900;
          }
          &::after{
            @include hover_menu();
            top: 0;
            right: -100%;
          }
          &::before{
            @include hover_menu();
            bottom: 0;
            left: -100%;
          }
          &:hover{
            color: #ff9900 !important;
            transition-delay: 0.2s;
            transition-duration: 0.4s;
            &::after{
              @include hover_menu();
              transition: 0.4s;
              right: 100%;
            }
            &::before{
              @include hover_menu();
              transition: 0.4s;
              left: 100%;
            }
          }
        }
      }
    }
  }

  .menu-fixed{
    background-color: #ffffff;
    left: 0 !important;
  }
}

// Responsive Header Top
@media screen and (max-width: 992px){
  .header-fixed{
    position: fixed;
    top: 0;
    z-index: 5;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
  }
}

.body{
  overflow: hidden;
  .categories-0{
    padding-bottom: 20px;
    .slide-banner{
      cursor: pointer;
  
      .swiper-button-next::after, .swiper-button-prev::after{
        content: '' !important;
      }
  
      .swiper-button-next, .swiper-button-prev{
        width: 4vw !important;
        height: 4vw !important;
        display: block;
        background-color: #727272;
        color: #fff;
        opacity: 0.5;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        &:hover{
          background-color: #252525;
          transition: 0.2s;
        }
      }
    }
  }

  .categories-1{
    padding: $padding_20_32;
    @media screen and (max-width: 992px){
      padding: $padding_20_16;
    }
    .intro{
      width: 85%;
      margin: auto;
      display: flex;
      justify-content: space-around;
      @media screen and (max-width: 768px) {
        display: block;
      }
      .intro-item{
        width: calc(95%/3);
        cursor: pointer;
        @media screen and (max-width: 768px) {
          width: 90%;
          margin: 8px auto;
        }
        display: flex;
        align-items: center;
        
        padding: 1.5vw 1vw;
        border: 1px solid #bdbdbd;
        .intro-icon{
          @media screen and (max-width: 768px) {
            width: 20%;
            text-align: center;
          }
          .fa{
            font-size: 34px;
          }
        }
        .intro-detail{
          padding: 8px;
          @media screen and (max-width: 768px) {
            width: 80%;
          }
          .title{
            text-transform: uppercase;
            font-weight: bolder;
            color: #727272;
            font-size: 18px;
            @media screen and (max-width: 992px) {
              font-size: 15px;
            }
          }
          .content{
            font-size: 12px;
          }
        }
      }
    }
  }

  .categories-2{
    padding: $padding_20_60;
    @media screen and (max-width: 992px) {
      padding: $padding_20_16;
    }
    
    .banner{
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 576px) {
        display: block;
      }
      .banner-item{
        width: 49%;
        overflow: hidden;
        @media screen and (max-width: 576px) {
          width: 100%;
        }
        .banner-link{
          display: block;
          transition: 0.4s;
        }
        &:hover{
          .banner-link{
            transform: scale(1.04);
          }
        }
      }
    }
  }

  // ------------------------------------
  @mixin cate_header {
    text-align: center;
    .title{
      font-size: 28px;
      font-weight: bolder;
      text-transform: uppercase;
    }
  }

  @mixin padding_cate_0 {
    overflow: hidden;
    padding: $padding_10_96;
    @media screen and (max-width: 992px) {
      padding: $padding_10_16;
    }
  }

  @mixin padding_cate_20 {
    padding: $padding_20_60;
    @media screen and (max-width: 992px) {
      padding: $padding_20_16;
    }
  }

  @mixin product_item_cate {
    .item{
      text-align: center;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      .product-name{
        font-size: 14px;
        padding: 24px 0 0 !important;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        white-space: nowrap;
      }
      .product-price{
        color: #ff9900 ;
        font-size: 14px;
        .product-price-sale{
          color: #bdbdbd;
        }
      }
      .product-detail{
        padding: 8px;
        @media screen and (min-width: 992px) {
          position: absolute;
          transition: 0.6s;
          top: -100%;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
        }
        .fa{
          width: 40px;
          height: 40px;
          background-color: #ff9900;
          line-height: 40px;
          border-radius: 50px;
          color: #fff;
          &:hover{
            background-color: #ff6600;
            transition: 0.2s;
          }
        }
      }
      &::before{
        position: absolute;
        width: 0;
        height: 0;
        background-color: #e7e7e72f;;
        content: '';
        transform: rotate(0);
        transition: 0.6s;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50px;
      }
      &:hover{
        .product-detail{
          top: 50%;
        }
        &::before{
          width: 100%;
          height: 100%;
          opacity: 0.1;
        }
      }
    }
  }
  // ------------------------------------

  // Prev - Next button
  .owl-nav{
    button{
      position: absolute;
      top: 40%;
      transform: translateY(-40%);
      span{
        width: 25px !important;
        display: inline-block;
        height: 25px !important;
        background-color: #ff9900;
        opacity: 0.5;
        transition: 0.2s;
        color: #fff;
        &:hover{
          background-color: #ff6600;
          opacity: 1;
        }
      }
      &:nth-child(1){
        left: 0;
      }
      &:nth-child(2){
        right: 0;
      }
    }
  }

  .categories-3{
    @include padding_cate_0();
    .header{
      .active{
        color: #ff9900 !important;
      }
      @include cate_header();
      .detail{
        .detail-link{
          color: #333;
        }
      }
    }

    .product{
      display: flex;
      justify-content: space-between;
      padding: $padding_20_0;
      flex-wrap: wrap;
      @include product_item_cate();
    }
  }

  .categories-4{
    @include padding_cate_20();
    .intro{
      .header{
        @include cate_header();
      }
      .trend{
        padding: $padding_20_0;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
          display: block;
        }
        .trend-item{
          width: calc(94%/3);
          overflow: hidden;
          cursor: pointer;
          @media screen and (max-width: 768px) {
            width: 60%;
            margin: 8px auto;
          }
          position: relative;
          .trend-image{
            overflow: hidden;
            img{
              transition: 0.5s;
            }
          }
          &:hover{
            .trend-image{
              img{
                transform: scale(1.05);
              }
            }
            .trend-info{
              background-color: #ff6600 !important;
            }
          }
          .trend-detail{
            transition: 0.5s;
            
            @media screen and (max-width: 768px) {
              position: relative;
              bottom: 0;
            }
            .trend-info{
              display: block;
              padding: 8px 16px !important;
              background-color: #ff9900;
              color: #fff;
              text-align: center;
              border-radius: 50px;
              font-size: 13px;
              margin: 8px 0 !important;
              transition: 0.5s;
            }
          }
        }
      }
    }
  }

  .categories-5{
    @include padding_cate_0();
    overflow: hidden;
    .product-sale{
      .header{
        @include cate_header();
      }
      .product{
        padding: $padding_20_0;
        @include product_item_cate();
      }
    }
  }

  .categories-6{
    @include padding_cate_0();
    .product-sale{
      .header{
        @include cate_header();
      }
      .product{
        padding: $padding_20_0;
        @include product_item_cate();
      }
    }
  }

  .categories-7{
    @include padding_cate_0();
    overflow: hidden;
    .product-sale{
      .header{
        @include cate_header();
      }
      .product{
        padding: $padding_20_0;
        @include product_item_cate();
      }
    }
  }

  .categories-8{
    padding: $padding_20_60;
    @media screen and (max-width: 992px) {
      padding: $padding_20_16;
    }
    
    .banner{
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 576px) {
        display: block;
      }
      .banner-item{
        width: 49%;
        overflow: hidden;
        @media screen and (max-width: 576px) {
          width: 100%;
          margin: 8px 0;
        }
        .banner-link{
          display: block;
          transition: 0.4s;
        }
        &:hover{
          .banner-link{
            transform: scale(1.04);
          }
        }
      }
    }
  }

  .categories-9{
    padding: 40px 0 0;
    .subscript{
      padding: 60px 0;
      cursor: pointer;
      text-align: center;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background: url('../images/slider_3.jpg');
      position: relative;
      &::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: #00000063;
        top: 0;
        left: 0;
        z-index: 0;
      }
      .header{
        position: relative;
        z-index: 1;
        @include cate_header();
        .title{
          color: #fff;
        }
      }
      form{
        position: relative;
        z-index: 1;
        padding: 40px 0;
        label{
          display: none;
        }
        input{
          padding: 12px 20px;
          border-radius: 50px;
          width: 30%;
          background: transparent;
          border: 1px solid #b4b4b4d5;
          color: #fff;
          &:hover{
            transition: 0.2s;
            background-color: rgba(51, 51, 51, 0.247);
          }
          @media screen and (max-width: 992px) {
            width: 40%;
          }
          @media screen and (max-width: 576px) {
            display: block;
            margin: 0 auto 8px;
            width: 60%;
          }
        }
        button{
          padding: 12px 20px;
          border-radius: 50px;
          color: #fff;
          background-color: #ff9900;
          font-weight: bolder;
          border: 1px solid #ff9900;
          transition: 0.2s;
          &:hover{
            background-color: #ff6600;
          }
        }
      }
      .para{
        position: relative;
        z-index: 1;
        .detail{
          color: #fff;
          font-size: 14px;
          font-style: italic;
        }
      }
    }
  }

  .categories-10{
    .footer{
      background-color: #333;
      padding: $padding_20_60;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @media screen and (max-width: 992px) {
        padding: $padding_20_16;
      }
      .footer-item{
        width: calc(92%/4);
        @media screen and (max-width: 992px) {
          width: calc(92%/2);
        }
        .header{
          .title{
            text-transform: uppercase;
            font-weight: bolder;
            color: #ff9900;
            padding: 20px 0 !important;
          }
        }
        .detail{
          font-size: 14px;
          .para{
            color: #fff;
            padding: 5px 0 !important;
          }
          .detail-link{
            display: block;
            padding: 5px 0;
            color: #fff;
            transition: 0.2s;
            &:hover{
              color: #ff6600;
            }
          }
        }
      }
    }
  }

}

.scroll-top{
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 10;
  .btn-top{
    width: 35px;
    height: 35px;
    background: linear-gradient(to bottom,#dbdbdb, #fff, #fff, #fff, #fff, #bdbdbd, #bdbdbd);
    display: block;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    -webkit-box-shadow: 0px 17px 18px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 17px 18px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 17px 18px -4px rgba(0,0,0,0.75);
    transition: 0.2s;

    &:hover{
      box-shadow: none;

      .fa-angle-up{
        color: rgb(255, 81, 0);
      }
    }
  
    .fa-angle-up{
      display: block;
      width: 27px;
      height: 27px;
      background: linear-gradient(to bottom, #dbdbdb, #dbdbdb, #fff, #fff, #fff, #fff);
      text-align: center;
      line-height: 27px;
      font-size: 20px;
      font-weight: bolder;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50px;
      transition: 0.2s;
    }
  }
  
}